In [1]:
install.packages("tidyverse")
library(tidyverse)
#reading the general elections file
canddf = read.csv("2016-04-28_general-election-2016-candidate-details-csv_en.csv",header=TRUE, sep=",", encoding = "UTF-8")

Installing package into 'C:/Users/Dell/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'tidyverse' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Dell\AppData\Local\Temp\RtmpIfQu8U\downloaded_packages

Warning message:
"package 'tidyverse' was built under R version 3.6.3"
-- Attaching packages --------------------------------------- tidyverse 1.3.0 --

v ggplot2 3.2.1     v purrr   0.3.3
v tibble  2.1.3     v dplyr   0.8.4
v tidyr   1.0.2     v stringr 1.4.0
v readr   1.3.1     v forcats 0.4.0

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [2]:
head(canddf)

  Constituency    Surname       First.Name      Gender Party
1 Galway West      <d3> Cu<ed>v <c9>amon        M      Fianna F<e1>il
2 Louth           Adams         Gerry           M      Sinn F<e9>in
3 Cork  East      Ahern         Barbara         F      Fianna F<e1>il
4 Waterford       Ahmed         Sheik Mohiuddin M      Non-Party
5 Dublin Mid-West Akpoveta      Patrick         M      Non-Party
6 Tipperary       Ambrose       Siobh<e1>n      F      Fianna F<e1>il
  Party.Abbreviation Count.Number Required.To.Reach.Quota
1 F.F.               14              0
2 S.F.               11              0
3 F.F.               10           3781
4 NON-P.              9              0
5 NON-P.             12              0
6 F.F.                7              0
  Required.To.Save.Deposit Votes Result   Candidate.Id Constituency.Number
1    0                      9539 Elected  165           23
2    0                     10661 Elected  160           31
3    0                      4594          169            4
4 2443                       140 Excluded 160           38
5 1813                       288 Excluded 187          643
6    0                      4472 Excluded 160           36
  Constituency.Ainm
1 Gaillimh Thiar
2 L<fa>
3 Corcaigh Thoir
4 Port  Lairge
5 Baile <c1>tha Cliath Thiar-Me<e1>n
6 Tiobraid <c1>rann

In [5]:
canddf[canddf$Constituency == "Wexford",][,c("Surname","First.Name", "Constituency")]

    Surname First.Name Constituency
32  Browne  James      Wexford
44  Byrne   Aoife      Wexford
47  Byrne   Malcolm    Wexford
59  Carthy  Ger        Wexford
115 D'arcy  Michael    Wexford
144 Dwyer   John       Wexford
180 Foxe    Caroline   Wexford
234 Hogan   Julie      Wexford
241 Howlin  Brendan    Wexford
257 Kehoe   Paul       Wexford
263 Kelly   Leonard    Wexford
286 Lloyd   David      Wexford
303 Maloney David      Wexford
382 Mythen  John       Wexford
535 Wadding Deirdre    Wexford
538 Wallace Mick       Wexford
539 Walsh   Ann        Wexford

In [12]:
amount = count(canddf[canddf$Constituency == "Laois",][,c("Surname","First.Name")])

amount

  n
1 6

In [15]:
length(unique(canddf$Constituency))

[1] 40

In [33]:
#reading the constency details
constdf = read.csv("GE2016constituencydetails.csv",header=TRUE, sep=",", encoding = "UTF-8")


head(constdf)

#constdf

##The decision to be made with the missing data would be to drop the coloumn due to the sheer amount of missing data

  Constituency.Name  Constituency.Ainm          Count.Number Date.Of.Election
1 Carlow Kilkenny    Ceatharlach-Cill Chainnigh 11           26/02/2016
2 Cavan Monaghan     An Cabh<e1>n-Muineach<e1>n 10           26/02/2016
3 Clare              An Cl<e1>r                 12           26/02/2016
4 Cork East          Corcaigh Thoir             10           26/02/2016
5 Cork North Central Corcaigh Thuaidh-L<e1>r    11           26/02/2016
6 Cork North West    Corcaigh Thiar Thuaidh      9           26/02/2016
  Number.Of.Candidates Number.of.Seats Quota Required.Save.Deposit Seats.Filled
1 15                   5               11669 2918                  5
2 15                   4               11931 2983                  4
3 16                   4               11401 2851                  4
4 15                   4               10562 2641                  4
5 14                   4               10235 2559                  4
6 13                   3               11740 2936                  3
  Seats.in.Constituency Spoiled Total.Electorate Total.Poll Valid.Poll
1 5                     505     107023           70514      70009
2 4                     598      90618           60248      59650
3 4                     407      83660           57407      57000
4 4                     445      83236           53251      52806
5 4                     516      81609           51690      51174
6 3                     395      67589           47353      46958
  Constituency.Number
1 1
2 2
3 3
4 4
5 5
6 6

In [31]:
length(unique(constdf$Constituency.Name))

[1] 40

In [18]:
#reading the results file
countdf = read.csv("2016-04-28_general-election-2016-count-details-csv_en.csv",header=TRUE, sep=",", encoding = "UTF-8")

head(countdf)

  Constituency.Name Candidate.surname Candidate.First.Name Result  Count.Number
1 Louth             Adams             Gerry                        1
2 Louth             Adams             Gerry                        2
3 Louth             Adams             Gerry                        3
4 Louth             Adams             Gerry                        4
5 Louth             Adams             Gerry                        5
6 Louth             Adams             Gerry                Elected 7
  Non_Transferable Occurred.On.Count Required.To.Reach.Quota
1 0                0                 594
2 0                0                 481
3 0                0                 429
4 0                0                 347
5 0                0                 159
6 0                6                   0
  Required.To.Save.Deposit Transfers Votes Total.Votes Constituency.Number
1 0                          0       10661 10661       31
2 0                        113       10661 10774       31
3 0                         52       10661 10826       31
4 0                         82       10661 10908       31
5 0                        188       10661 11096       31
6 0                          0       10661 11278       31
  Candidate.Id
1 160
2 160
3 160
4 160
5 160
6 160

In [22]:
length(unique(countdf$Constituency.Name))

[1] 40

In [23]:
countdf

     Constituency.Name Candidate.surname Candidate.First.Name Result
1    Louth             Adams             Gerry
2    Louth             Adams             Gerry
3    Louth             Adams             Gerry
4    Louth             Adams             Gerry
5    Louth             Adams             Gerry
6    Louth             Adams             Gerry                Elected
7    Louth             Adams             Gerry                Elected
8    Louth             Adams             Gerry                Elected
9    Louth             Adams             Gerry                Elected
10   Louth             Adams             Gerry                Elected
11   Louth             Adams             Gerry                Elected
12   Cork East         Ahern             Barbara
13   Cork East         Ahern             Barbara
14   Cork East         Ahern             Barbara
15   Cork East         Ahern             Barbara
16   Cork East         Ahern             Barbara
17   Cork East         Ahern             Barbara
18   Cork East         Ahern             Barbara
19   Cork East         Ahern             Barbara
20   Cork East         Ahern             Barbara
21   Cork East         Ahern             Barbara
22   Waterford         Ahmed             Sheik Mohiuddin
23   Waterford         Ahmed             Sheik Mohiuddin
24   Waterford         Ahmed             Sheik Mohiuddin      Excluded
25   Waterford         Ahmed             Sheik Mohiuddin      Excluded
26   Waterford         Ahmed             Sheik Mohiuddin      Excluded
27   Waterford         Ahmed             Sheik Mohiuddin      Excluded
28   Waterford         Ahmed             Sheik Mohiuddin      Excluded
29   Waterford         Ahmed             Sheik Mohiuddin      Excluded
30   Waterford         Ahmed             Sheik Mohiuddin      Excluded
...  ...               ...               ...                  ...
5656 Louth             Yore              Maeve                Excluded
5657 Louth             Yore              Maeve                Excluded
5658 Louth             Yore              Maeve                Excluded
5659 Louth             Yore              Maeve                Excluded
5660 Louth             Yore              Maeve                Excluded
5661 Kildare North     Young             Brendan
5662 Kildare North     Young             Brendan              Excluded
5663 Kildare North     Young             Brendan
5664 Kildare North     Young             Brendan              Excluded
5665 Kildare North     Young             Brendan              Excluded
5666 Kildare North     Young             Brendan
5667 Kildare North     Young             Brendan
5668 Kildare North     Young             Brendan              Excluded
5669 Kildare North     Young             Brendan
5670 Dublin South West Zappone           Katherine
5671 Dublin South West Zappone           Katherine
5672 Dublin South West Zappone           Katherine
5673 Dublin South West Zappone           Katherine
5674 Dublin South West Zappone           Katherine
5675 Dublin South West Zappone           Katherine
5676 Dublin South West Zappone           Katherine
5677 Dublin South West Zappone           Katherine
5678 Dublin South West Zappone           Katherine
5679 Dublin South West Zappone           Katherine
5680 Dublin South West Zappone           Katherine
5681 Dublin South West Zappone           Katherine
5682 Dublin South West Zappone           Katherine
5683 Dublin South West Zappone           Katherine
5684 Dublin South West Zappone           Katherine
5685 Dublin South West Zappone           Katherine            Elected
     Count.Number Non_Transferable Occurred.On.Count Required.To.Reach.Quota
1     1           0                 0                  594
2     2           0                 0                  481
3     3           0                 0                  429
4     4           0                 0                  347
5     5           0                 0                  159
6     7           0                 6                    0
7     8           0                 6                    0
8     6           0                 6                    0
9    10           0                 6                    0
10   11           0                 6                    0
11    9           0                 6                    0
12    1           0                 0                 5968
13   10           0                10                 3781
14    2           0                 0                 5927
15    3           0                 0                 5832
16    4           0                 0                 5738
17    5           0                 0                 5576
18    6           0                 0                 5481
19    7           0                 0                 5009
20    8           0                 0                 4346
21    9           0                 0                 4130
22    1           0                 0                10201
23    2           0                 0                10198
24    3           0                 3                    0
25    4           0                 3                    0
26    5           0                 3                    0
27    6           0                 3                    0
28    7           0                 3                    0
29    8           0                 3                    0
30    9           0                 3                    0
...  ...          ...              ...               ...
5656  5           0                 5                   0
5657  9           0                 5                   0
5658 10           0                 5                   0
5659  8           0                 5                   0
5660 11           0                 5                   0
5661  5           0                 0                7930
5662  6           0                 6                   0
5663  1           0                 0                8588
5664  7           0                 6                   0
5665  8           0                 6                   0
5666  2           0                 0                8465
5667  3           0                 0                8321
5668  9           0                 6                   0
5669  4           0                 0                8051
5670  1           0                 0                6749
5671  2           0                 0                6726
5672  3           0                 0                6697
5673  4           0                 0                6608
5674  5           0                 0                6552
5675  6           0                 0                6299
5676  7           0                 0                6081
5677  8           0                 0                5950
5678  9           0                 0                5481
5679 10           0                 0                5415
5680 11           0                 0                5083
5681 12           0                 0                4918
5682 13           0                 0                4488
5683 14           0                 0                4459
5684 15           0                 0                3670
5685 16           0                16                1557
     Required.To.Save.Deposit Transfers Votes Total.Votes Constituency.Number
1       0                        0      10661 10661       31
2       0                      113      10661 10774       31
3       0                       52      10661 10826       31
4       0                       82      10661 10908       31
5       0                      188      10661 11096       31
6       0                        0      10661 11278       31
7       0                        0      10661 11278       31
8       0                      182      10661 11278       31
9       0                        0      10661 11278       31
10      0                        0      10661 11278       31
11      0                        0      10661 11278       31
12      0                        0       4594  4594        4
13      0                      349       4594  6781        4
14      0                       41       4594  4635        4
15      0                       95       4594  4730        4
16      0                       94       4594  4824        4
17      0                      162       4594  4986        4
18      0                       95       4594  5081        4
19      0                      472       4594  5553        4
20      0                      663       4594  6216        4
21      0                      216       4594  6432        4
22   2446                        0        140   140       38
23   2443                        3        140   143       38
24   2443                     -143        140     0       38
25   2443                        0        140     0       38
26   2443                        0        140     0       38
27   2443                        0        140     0       38
28   2443                        0        140     0       38
29   2443                        0        140     0       38
30   2443                        0        140     0       38
...  ...                      ...       ...   ...         ...
5656    0                     -3138     2746     0        31
5657    0                         0     2746     0        31
5658    0                         0     2746     0        31
5659    0                         0     2746     0        31
5660    0                         0     2746     0        31
5661  590                       121     1200  1858        26
5662  590                     -1858     1200     0        26
5663 1248                         0     1200  1200        26
5664  590                         0     1200     0        26
5665  590                         0     1200     0        26
5666 1125                       123     1200  1323        26
5667  981                       144     1200  1467        26
5668  590                         0     1200     0        26
5669  711                       270     1200  1737        26
5670    0                         0     4463  4463        19
5671    0                        23     4463  4486        19
5672    0                        29     4463  4515        19
5673    0                        89     4463  4604        19
5674    0                        56     4463  4660        19
5675    0                       253     4463  4913        19
5676    0                       218     4463  5131        19
5677    0                       131     4463  5262        19
5678    0                       469     4463  5731        19
5679    0                        66     4463  5797        19
5680    0                       332     4463  6129        19
5681    0                       165     4463  6294        19
5682    0                       430     4463  6724        19
5683    0                        29     4463  6753        19
5684    0                       789     4463  7542        19
5685    0                      2113     4463  9655        19
     Candidate.Id
1    160
2    160
3    160
4    160
5    160
6    160
7    160
8    160
9    160
10   160
11   160
12   169
13   169
14   169
15   169
16   169
17   169
18   169
19   169
20   169
21   169
22   160
23   160
24   160
25   160
26   160
27   160
28   160
29   160
30   160
...  ...
5656 175
5657 175
5658 175
5659 175
5660 175
5661 173
5662 173
5663 173
5664 173
5665 173
5666 173
5667 173
5668 173
5669 173
5670 222
5671 222
5672 222
5673 222
5674 222
5675 222
5676 222
5677 222
5678 222
5679 222
5680 222
5681 222
5682 222
5683 222
5684 222
5685 222