In [13]:
import pandas as pd

#read in all the data from the csv file to the dataframe 
df = pd.read_csv("nutrition.csv")

df.saturated_fat.fillna("0g",inplace = True)

#gather the needed data from the dataframe and split them into the accrding dataframes, such as the fat dataframe
df2 = df[['Id','name','serving_size','calories','total_fat','saturated_fat','cholesterol','protein','alanine','arginine',
          'aspartic_acid','cystine','glutamic_acid','glycine','histidine','hydroxyproline','isoleucine','leucine','lysine',
          'methionine', 'phenylalanine', 'proline','serine','threonine','tryptophan','tyrosine','valine','carbohydrate',
          'fiber','sugars','fructose', 'galactose','glucose','lactose','maltose','sucrose','fat','saturated_fatty_acids',
          'monounsaturated_fatty_acids','polyunsaturated_fatty_acids', 'fatty_acids_total_trans','water']]

###########################################################################################################################
##Cover water and fiber
WaterDF = df[['Id','name',"serving_size",'water']]

fiberDF = df[['Id','name',"serving_size",'fiber']]

##Start the fat process

UnsaturatedFat = df[['Id','name','serving_size','total_fat','monounsaturated_fatty_acids','polyunsaturated_fatty_acids']]

BadFatDF = df[['Id','name','serving_size','total_fat','saturated_fat','saturated_fatty_acids','fatty_acids_total_trans']]

CholesterolDF = df[['Id','name','serving_size','total_fat','cholesterol']]

#cover the carbs factor
MonosaccharideDF = df[['Id', 'name','serving_size','carbohydrate','fructose', 'galactose','glucose']]

DisaccharideDF = df[['Id', 'name','serving_size','carbohydrate','lactose','maltose','sucrose']]

CarbsDF = df[['Id', 'name','serving_size','carbohydrate']]

SugarDF = df[['Id', 'name','serving_size','sugars']]

#cover the protein aspect
NonEssentialProteinDF = df[['Id','name','serving_size','protein','alanine','arginine','aspartic_acid','cystine',
                            'glutamic_acid','glycine','hydroxyproline','proline','serine','tyrosine']]

EssentialProteinDF = df[['Id','name','serving_size','protein','histidine','isoleucine',
                         'leucine','lysine','methionine','phenylalanine','threonine','tryptophan','valine']]

###########################################################################################################################

#df.head()

In [21]:
#df2.head()

##Cover water and fiber
WaterDF = df[['Id','name',"serving_size",'water']]

fiberDF = df[['Id','name',"serving_size",'fiber']]

##Start the fat process

UnsaturatedFatDF = df[['Id','name','serving_size','total_fat','monounsaturated_fatty_acids','polyunsaturated_fatty_acids']]

SaturatedFatDF = df[['Id','name','serving_size','total_fat','saturated_fat','saturated_fatty_acids','fatty_acids_total_trans']]

CholesterolDF = df[['Id','name','serving_size','total_fat','cholesterol']]

#cover the carbs factor
MonosaccharideDF = df[['Id', 'name','serving_size','carbohydrate','fructose', 'galactose','glucose']]

DisaccharideDF = df[['Id', 'name','serving_size','carbohydrate','lactose','maltose','sucrose']]

CarbsDF = df[['Id', 'name','serving_size','carbohydrate']]

SugarDF = df[['Id', 'name','serving_size','sugars']]

#cover the protein aspect
NonEssentialProteinDF = df[['Id','name','serving_size','protein','alanine','arginine','aspartic_acid','cystine',
                            'glutamic_acid','glycine','hydroxyproline','proline','serine','tyrosine']]

EssentialProteinDF = df[['Id','name','serving_size','protein','histidine','isoleucine',
                         'leucine','lysine','methionine','phenylalanine','threonine','tryptophan','valine']]

###########################################################################################################################

#df.head()["monounsaturated_fatty_acids","polyunsaturated_fatty_acids"]

In [22]:
#FatDF.head()
UnsaturatedFatDF.sort_values(by=["monounsaturated_fatty_acids","polyunsaturated_fatty_acids"], 
                  ascending = False).head(3)#.to_csv("FATDF.csv")

,Id,name,serving_size,total_fat,monounsaturated_fatty_acids,polyunsaturated_fatty_acids
8271,8271,"Beef, braised, cooked, all grades, trimmed to ...",100 g,21g,9.997 g,0.884 g
5599,5599,"Infant Formula, powder, Infant, Premium, ENFAM...",100 g,27g,9.987 g,5.213 g
6399,6399,"Infant Formula, powder, Infant, Premium LIPIL,...",100 g,27g,9.987 g,5.213 g

In [23]:
CholesterolDF.sort_values(by='cholesterol', 
                  ascending = False).head(3)#.to_csv("FATDF.csv")

,Id,name,serving_size,total_fat,cholesterol
3407,3407,"Restaurant, spaghetti with meat sauce, Italian",100 g,3.6g,9mg
3788,3788,"Dip, cheese and salsa- medium, salsa con queso",100 g,9.5g,9mg
3260,3260,"Candies, MILKY WAY Bar, MARS SNACKFOOD US",100 g,17g,9mg

In [20]:
SaturatedFatDF.sort_values(by=['saturated_fatty_acids','fatty_acids_total_trans'], 
                  ascending = False).head(3)#.to_csv("FATDF.csv")

,Id,name,serving_size,total_fat,saturated_fat,saturated_fatty_acids,fatty_acids_total_trans
2253,2253,"Fish oil, fully hydrogenated, menhaden",100 g,100g,96g,95.600 g,500.00 mg
2077,2077,"Oil, fully hydrogenated, soy, industrial",100 g,100g,94g,93.966 g,0.00 mg
8782,8782,"Oil, uses similar to 95 degree hard butter, co...",100 g,100g,94g,93.701 g,0.00 mg

In [24]:
MonosaccharideDF.sort_values(by=['fructose', 'galactose','glucose'], ascending = False).head(3)#.to_csv("CarbsDF.csv")

,Id,name,serving_size,carbohydrate,fructose,galactose,glucose
3955,3955,"Cranberry sauce, OCEAN SPRAY, canned, jellied",100 g,40.61 g,9.80 g,0.00 g,17.80 g
1509,1509,"Cranberry sauce, sweetened, canned",100 g,40.40 g,9.75 g,0.00 g,17.45 g
2913,2913,"Cranberry sauce, OCEAN SPRAY, canned, whole",100 g,40.40 g,9.70 g,0.00 g,17.10 g

In [25]:
DisaccharideDF.sort_values(by=['lactose','maltose','sucrose'], ascending = False).head(3)#.to_csv("CarbsDF.csv")

,Id,name,serving_size,carbohydrate,lactose,maltose,sucrose
8346,8346,"Infant formula, with ARA and DHA, ready-to-fee...",100 g,8.73 g,8.30 g,0,0
1000,1000,"Candies, KIT KAT Wafer Bar",100 g,64.59 g,8.21 g,0.07 g,40.04 g
7546,7546,"Infant formula, with ARA and DHA, ready-to-fee...",100 g,8.20 g,8.20 g,0,0

In [26]:
CarbsDF.sort_values(by='carbohydrate', ascending = False).head(3)#.to_csv("CarbsDF.csv")

      Id                name serving_size carbohydrate
328  328  Sugars, granulated        100 g      99.98 g
435  435    Sugar, turbinado        100 g      99.80 g
407  407    Sugars, powdered        100 g      99.77 g

In [27]:
#sugars
SugarDF.sort_values(by='sugars', ascending = False).head(3)#.to_csv("CarbsDF.csv")

      Id                name serving_size   sugars
328  328  Sugars, granulated        100 g  99.80 g
435  435    Sugar, turbinado        100 g  99.19 g
407  407    Sugars, powdered        100 g  97.81 g

In [15]:
#NonEssentialProteinDF.head(20) 
NonEssentialProteinDF.sort_values(by=["alanine","arginine","aspartic_acid","cystine","glutamic_acid","glycine",
                                      "hydroxyproline","proline","serine","tyrosine"],
                                  ascending = False).head(3)#.to_csv("NonEssentialProteinDF.csv")

,Id,name,serving_size,protein,alanine,arginine,aspartic_acid,cystine,glutamic_acid,glycine,hydroxyproline,proline,serine,tyrosine
1618,1618,"Gelatins, unsweetened, dry powder",100 g,85.60 g,8.009 g,6.616 g,5.265 g,0.000 g,8.753 g,19.049 g,0,12.295 g,2.605 g,0.303 g
1087,1087,"Snacks, plain, pork skins",100 g,61.30 g,5.811 g,4.841 g,4.469 g,0.529 g,7.625 g,11.917 g,0,7.262 g,2.597 g,1.205 g
7259,7259,"Gelatin desserts, no added sodium, with aspart...",100 g,55.30 g,5.790 g,4.784 g,3.807 g,0.000 g,6.328 g,13.773 g,0,8.890 g,1.884 g,0.219 g

In [16]:
#EssentialProteinDF.head(20)
EssentialProteinDF.sort_values(by=["histidine","isoleucine","leucine","lysine","methionine","phenylalanine","threonine",
                                   "tryptophan","valine"],ascending = False).head(3)#.to_csv("EssentialProteinDF.csv")

,Id,name,serving_size,protein,histidine,isoleucine,leucine,lysine,methionine,phenylalanine,threonine,tryptophan,valine
3089,3089,"Whale, dried (Alaska Native), meat, beluga",100 g,69.86 g,2.999 g,2.684 g,5.778 g,6.313 g,1.353 g,2.947 g,2.726 g,0.797 g,2.810 g
4401,4401,"Seal, dried (Alaska Native), meat, bearded (Oo...",100 g,82.60 g,2.947 g,3.134 g,6.386 g,6.690 g,1.684 g,3.275 g,3.228 g,0.795 g,3.228 g
213,213,Soy protein isolate,100 g,88.32 g,2.303 g,4.253 g,6.783 g,5.327 g,1.130 g,4.593 g,3.137 g,1.116 g,4.098 g

In [17]:
#FiberDF.head()
FiberDF.sort_values(by='fiber',ascending = False).head(3)#.to_csv("FiberDF.csv")

        Id                                   name serving_size  fiber
1930  1930         Snacks, cheese-flavor, popcorn        100 g  9.9 g
2467  2467  Bananas, or banana powder, dehydrated        100 g  9.9 g
1257  1257                Nuts, blanched, almonds        100 g  9.9 g

In [18]:
#WaterDF.head()
WaterDF.sort_values(by = "water", ascending = False).head(3)

,Id,name,serving_size,water
1240,1240,"Water, generic, bottled",100 g,99.98 g
4668,4668,"Beverages, DANNON, non-carbonated, bottled, water",100 g,99.98 g
6768,6768,"Beverages, DANNON Fluoride To Go, non-carbonat...",100 g,99.97 g

In [29]:
datasetsFolder = "./NewerDatasets/"

In [30]:
#creating the datasets from the main one part two - water aspect 
df2.sort_values(by = 'water', ascending = False).head(20).to_csv(datasetsFolder + "WaterDF.csv")

In [31]:
#fiber
df2.sort_values(by='fiber',ascending = False).head(20).to_csv(datasetsFolder +"FiberDF.csv")

In [32]:
#BadFatDF
df2.sort_values(by = ["monounsaturated_fatty_acids","polyunsaturated_fatty_acids"], 
                ascending = False).head(20).to_csv(datasetsFolder + "UnsaturatedFatDF.csv")

In [33]:
#goodFat
df2.sort_values(by = ['saturated_fat','saturated_fatty_acids','fatty_acids_total_trans'], 
                ascending = False).head(20).to_csv(datasetsFolder + "SaturatedFatDF.csv")

In [34]:
#cholesterol
df2.sort_values(by = 'cholesterol', ascending = False).head(20).to_csv(datasetsFolder + "CholesterolDF.csv")

In [35]:
df2.sort_values(by = 'total_fat', ascending = False).head(20).to_csv(datasetsFolder + "total_fat.csv")

In [36]:
#Carbs
df2.sort_values(by = ["fructose","galactose","glucose"], 
                ascending = False).head(20).to_csv(datasetsFolder + "MonosaccharideDF.csv")

In [37]:
df2.sort_values(by = ['lactose','maltose','sucrose'], 
                ascending = False).head(20).to_csv(datasetsFolder + "DisaccharideDF.csv")

In [38]:
df2.sort_values(by = 'carbohydrate', ascending = False).head(20).to_csv(datasetsFolder + "CarbsDF.csv")

In [39]:
df2.sort_values(by = 'sugars', ascending = False).head(20).to_csv(datasetsFolder + "SugarDF.csv")

In [40]:
#NonEssentialProteinDF
df2.sort_values(by=["alanine","arginine","aspartic_acid","cystine","glutamic_acid","glycine","hydroxyproline","proline",
                    "serine","tyrosine"],ascending = False).head(20).to_csv(datasetsFolder +"NonEssentialProteinDF.csv")

In [41]:
#EssentialProteinDF
df2.sort_values(by=["histidine","isoleucine","leucine","lysine","methionine","phenylalanine","threonine","tryptophan",
                    "valine"],ascending = False).head(20).to_csv(datasetsFolder +"EssentialProteinDF.csv")

In [42]:
df2.sort_values(by='protein',ascending = False).head(20).to_csv(datasetsFolder +"protein.csv")